.portfolio{
    background-image: url("../images/lavendar.jpg");
    height:710px;
    position: relative;
}

/* .portfolio__navBar{
    opacity: 100%;
} */

.portfolio__greetingText{
    font-family: 'Righteous', cursive;
}
.navbar-brand {
    padding: 0 15px;
    height: 90px;
    line-height: 80px;
}

.portfolio__title:hover{
    color: #B57EDC !important; 
}

.portfolio__title{
    font-family: 'Righteous', cursive !important;
    font-size: 50px;
}

/* Circle */
.dot{
    width: 300px;
    height: 300px;
    background-color: #343A3F;
    border-radius: 50%;
    display: inline-block;
    margin-top: 30px;
    margin-left: 475px;
    box-shadow: 2px 6px 10px black;
}


/* Avatar */
#portfolio__avatar{
    width: 250px;
    height: auto;
    position: relative;
    margin-left: 50px;
    
}

.portfolio__header__animated{
    font-family: 'Righteous', cursive; /* Web-safe typewriter-like font */
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #343A3F; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .1em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(25, end),
      blinking-cursor .5s step-end infinite;
}
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blinking-cursor {
    from, to { border-color: transparent }
    50% { border-color: #343A3F; }
  }


/* About Me */
.porforlio__aboutMe{
    height: 695px;

}

/* Portfio */
#portfolio__myPort{
    height: 720px;
    background-color: #B57EDC;
    
}

#portfolio__myPortHeader{
    position: relative;
    top: 50px;
}

/* divider */
.portfolio__divider{
    width: 125px;
    height: 5px;
    margin-top: 10px;
    background-color: black;
    border-radius: 25px;
    display: inline-block;
}

/* left hr */
 .left-hr{
    margin-left: 500px;
}

/* Circle in hr */
#circle{
    width: 15px;
    height: auto;
    position: relative;
    display: inline-block;
    bottom: 15px;
}

/* About Me Header */
#portfolio__about{
    font-family: 'Righteous', cursive;
    margin-top: 50px;
    font-size: 50px;
    margin-bottom: 50px;
}

/* My Portfio Header */
#portfolio__myPortHeader{
    font-family: 'Righteous', cursive;
    font-size: 50px;
}


#portfolio__bio{
    width: 700px;
    margin: auto;
    font-family: 'Comfortaa', cursive;
}

#portfolio__skillSet{
    font-size: 30px;
    margin: auto;
    font-family: 'Righteous', cursive;
    width: 100%;
    height: 300px;
}

.skill{
    width: 70px;
    height: auto;
    margin: auto;
}

#jsLogo{
    width: 61px;
    height: auto;
}

#nodeLogo{
    width: 55px;
    height: auto;
    margin-left: 5px;
}

.skillLabel{
    font-size: 10px;
    word-spacing: 30px;
    position: relative;
    left: 5px;
}

#cssLabel{
    position: relative;
    left: 19px;
}

#jsLabel{
    position: relative;
    left: 10px;
}

#nodeLabel{
    position: relative;
    left: -1px;
}

#htmlLabel{
    position: relative;
    left: 10px;
}


/* My Projects */
.projects{
    background-color: white;
    width: 300px;
    height: 200px;
    position: relative;
    top: 60px;
    left: 5px;
    border-radius: 20px;

}

/* Project List */
.projectContainer{
    width: 1000px;
}
   
/* About the Project - In Modal */
.aboutProject{
    margin-top: 40px;
    width: 400px;
    margin-left: 175px;
}

/* Project Video - In Modal */
.projectVideo{
    margin-left: 175px;
    background-color: transparent;
    padding: 0px;
}


/* In Modal - View Project Button */
.projectButtonOne{
    position: relative;
    left: 245px;
}

.projectButtonTwo{
    position: relative;
    left: 300px;
}

.contactInfo{
    position: relative;
    margin-left: 120px;
    top: 40px;
    
}

.contactContainer{
    position: relative;
    /* bottom: -270px; */
    background-color: white;
    height: 100px;
    /* margin-top: 50px; */
}

#pin{
    width: 30px;
    height: auto;
}

#phone{
    width: 20px;
    height: auto;
}

#email{
    width: 20px;
    height: auto;
}

/* Resume Button */
#resumeButton{
    position: relative;
    margin-left: 165px;
    padding: 10px;
    top: 300px;
    border-style: solid;
    border-radius: 50%;
    border-width: 1px;
    width: 300px;
    height: 300px;
}

.socialButtons{
    position: relative;
    margin-left: 10px;
    padding: 10px;
    top: 300px;
    border-style: solid;
    border-radius: 50%;
    border-width: 1px;
    width: 300px;
    height: 300px;
}