

#marlee, .header, p, h1, .header{
    margin: 0;
    padding: 0;
}

body{
    font-family: Calibri, sans-serif;
    font-weight: 400;
}


/* Header */
.header{
    position: relative;
    top: 70px;
    width: 100%;
    height: 500px;
    min-height: 40%;
    z-index: 1000;
    background-color: rgba(0,0,0,0.9);
}

.header h1{
    text-align: center;
    font-size: 65px;
    text-transform: uppercase;
    font-weight: 300;
    color: #fff;
    padding-top: 15%;
    margin-bottom: 15px;
}

.header p{
    text-align: center;
    font-size: 20px;
    letter-spacing: 5px;
    color: #aaa;
}

#marlee{
    color: #4AB4B4;
}

/* NavBar */
nav{
    float: right;
    width: 100%;
    position: fixed;
    height: 75px;
    background-color: #fff;
    z-index: 1001;
    box-shadow: 0px 2px 40px rgba(0,0,0,0.9);
}

ul.sections{
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin: 5px 175px;
    padding-top: 25px;
    position: relative;
}

nav a{
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover{
    color: #000;
    text-decoration: none;
}

nav a::before{
    content: "";
    display: block;
    height: 5px;
    width: 0%;
    background-color: #444;
    position: absolute;
    top: 0;
    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;
}

/* Portfolio - Main Contents */
.portfolio_contents{
    height: 600px;
    position: relative;
    top: 125px;
}

h2{
    text-align: center;
    text-transform: uppercase;
}

.projects{
    background-color: white;
    width: 300px;
    height: 200px;
    position: relative;
    top: 60px;
    left: 5px;
    margin: 20px 40px;
}

/* Portfolio - Inside Modal */
.projectVideo{
    margin-left: 200px;
    background-color: transparent;
    padding: 0px;
}

.aboutProject{
    margin-top: 40px;
    width: 400px;
    margin-left: 175px;
}

.projectInfo{
    color: #444;
    text-decoration: none;
    float: left;
    margin: 20px 20px;
    position: relative;
    left: 200px;
}

.projectInfo:hover{
    color: #000;
    text-decoration: none;
    font-weight: 400;

}

.projectLinks{
    text-align: center;
}

#hangman{
    border: #F2F2F2;
    border-width: 1px;
    border-style: solid;
}

/* About Me */
.about_me_contents{
    position: relative;
    height: 700px;
    margin-top: 200px;
}

#about_me_header, #contact_me_header{
    position: relative;
    top: 75px;
}

.about_marlee{
    margin-top: 100px;
    height: 600px;
    width: 75%;
}

#marlee_image{
    float: left;
    height: auto;
    width: 225px;
    border-radius: 110px;
    margin-left: 30px;
    margin-right:20px;
    float: left;
    margin-top: 20px;
    margin-bottom: 10px;

    border-color: #FBFBFB;
    border-width: 1px;
    border-style: solid;
}

#brand_statement{
    margin-right: 465px;
    margin-left: 30px;
    padding-right: 30px;
    border-right-color: #F2F2F2;
    border-right-width: 1px;
    border-right-style: solid;

}


hr.page_divider {
    position: relative;
    top: 150px;
    border: 0;
    height: 1px;
    width: 400px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* Parent div to progress */
.all_progress{
    width: 400px;
    height: 100px;
    float: right;
    position: relative;
    bottom: 475px;
}

/* About Me -- Progress */
#html_progess_bar, #html_progress_bar_percentage, #javascript_progress_bar_percentage, #node_progress_bar_percentage{
    border-radius: 110px;
}

#html_progess_bar{
    position: relative;
    top: 0px;
    float:right; 
    width: 400px;
}

#html_progress_bar_percentage, .progress_type, #javascript_progress_bar_percentage, #node_progress_bar_percentage{
    font-family: 'Poppins', sans-serif;
}

.progress_type{
    text-align: center;
    font-size: 20px;
}
.javascript_progress, .node_progress{
    margin-top: 90px;
}

hr#under_about_me {
    position: relative;
    top: 50px;
    border: 0;
    height: 1px;
    width: 400px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* More Info */
/* More Info: Resume */
#resume_button, #form_button{
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px;
    border-color: #B6BABA;
    border-style: solid;
    border-width: 1px;
    border-radius: 70px;
    margin-left: 65px;
    float: left;
    margin-top: 100px;
    color: #444;
}

#resume_button:hover, #linkedIn_button:hover, #phone_number:hover, #email:hover{
    color: #000;
    text-decoration: none;
    font-weight: 400;
}

/* More Info: LinkedIn */
#linkedIn_button{
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px;
    border-color: #B6BABA;
    border-style: solid;
    border-width: 1px;
    border-radius: 70px;
    margin-left: 65px;
    float: right;
    margin-top: 100px;
    color: #444;
    margin-right: 50px;
}   

/* Contact Me */
.contact_me_contents{
    height: 100px;
    margin-top: 100px;
}

.contact_info{
    position: relative;
    margin-left: 140px;
    top: 40px;
}

#pin_img{
    width: 30px;
    height: auto;
}

#phone_img{
    width: 20px;
    height: auto;
}

#email_img{
    width: 20px;
    height: auto;
}

#pin, #phone_number, #email{
    color: #444;
    text-decoration: none;
}

.form{
    /* background-color: #444; */
    width: 800px;
    height:500px;
    margin-top: 100px;

}

#contact_me_header{
    position: relative;
    top: 0px;
}

.form-field-name, .form-field-email, .form-field-phone{
    margin-top: 40px;
}

fieldset{
    float: left;
}

.form-field-phone{
    width: 100%;
}

/* .validity{
    float:left;
} */

#form_button{
    position: relative;
    /* float: left; */
    right: 60px;
    bottom: 70px;
}




/* Phone */


.output {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: 1rem 0;
    width: 60%;
}

label {
    display: inline-block;
    font-size: .8rem;
    width: 20%;
}

input:invalid + span:after {
    content: '✖';
    color: #f00;
    padding-left: 5px;
    /* border-color: red; */
}

input:valid + span:after {
    content: '✓';
    color: #26b72b;
    padding-left: 5px;
}


@media only screen and (max-width: 1240px) {
    body{
        width:100%;
    }

    nav li{
        margin: 5px 150px;
    }

    .sections{
        text-align: center;
        position: relative;
        right: 80px;
    }

    .header{
        position: relative;
        width: auto;
    }
    
}


@media only screen and (max-width: 1089px) {
    body{
        width: 100%;
    }

    nav li{
        margin: 5px 140px;
    }

    .sections{
        margin-left: 70px;
    }

    ul.sections{
        float: left;
        width: 100%;
    }

    .projects{
        margin: 20px 20px;
    }

    .portfolio_contents{
        position: relative;
        right: 20px;
    }

    .all_progress{
        position: relative;
        bottom: 420px;
        left: 200px;
    }

    .about_me_contents{
        margin-top: 125px;
        position: relative;
        right: 130px;
    }

    #about_me_header{
        position: relative;
        left: 140px;
    }

    #brand_statement{
        width: 500px;
    }

    #under_about_me{
        position: relative;
        bottom: -40px;
        margin-top: 0px;
    }
}


@media only screen and (max-width: 993px) {
    body{
        width: 100%;
    }

    nav li{
        margin: 5px 100px;
    }

    .sections{
        margin-left: 50px;
    }

    .header{
        width: 993px;
        height: 400px;
    }

     .about_me_contents{
        position: relative;
        right: 150px;
    }

    #about_me_header{
        position: relative;
        left: 140px;
    }

    .about_me_contents{
        /* margin-top: 125px; */
        position: relative;
        right: 120px;
        height: 600px;
        /* background-color:aqua;
        width: 900px; */
    }

    .all_progress{
        width: 350px;
        height: 600px;
    }

    #html_progess_bar{
        width: 350px;
    }

    #resume_button{
        position: relative;
        margin-left: 20px;
    }


    .contact_me_contents{
        height: 100px;
        background-color: #444;
    }

  .sections > li > a{
      font-size: 20px;
  }

  .contact_me_contents{
    margin-bottom: 0px;
  }
}